<h1>Admin Dashboard</h1>
<section>
  <div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Data</th>
        <th>Count</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td>Products</td>
        <td><%=@products_count%></td>
        <td><%= link_to "View Products", '/' %></td>
      </tr>
      <tr> 
        <td>Categories</td>
        <td><%=@categories_count%></td>
        <td><%= link_to "View Categories", '/' %></td>
      </tr>
    </tbody>
  </table>
</div>

</section> 
